@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .Piano {
        font-family: 'Nunito', sans-serif;
        width: calc(48px*12);
        box-shadow: 0 0 0 1.5px black;
        border-radius: 0 0 6px 6px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        overflow: hidden;


        .Key {
            user-select: none;
            font-weight: 00;
            width: 48px;
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            .Letter {
                padding-bottom: 12px;
            }

            &:hover {
                cursor: pointer;
            }

            &:is(.Key-pressed) {
                background: #cccccc;
            }
        }

        .Key-default:not(:last-child) {
            border-right: 2px solid black;
        }

        .Key-upper {
            box-shadow: 0 0 0 1.5px black;
            color: white;
            width: 26px;
            height: 120px;
            border-radius: 0 0 6px 6px;
            position: absolute;
            background: black;

            .Letter {
                padding-bottom: 16px;
            }

            &:is(.Key-pressed) {
                background: gray;
            }
        }

        .Key-upper {

            &:nth-child(2) {
                left: calc(48px * 0 + 34px);
            }

            &:nth-child(4) {
                left: calc(48px * 1 + 34px);
            }

            &:nth-child(7) {
                left: calc(48px * 3 + 34px);
            }

            &:nth-child(9) {
                left: calc(48px * 4 + 35px);
            }

            &:nth-child(11) {
                left: calc(48px * 5 + 35px);
            }

            &:nth-child(14) {
                left: calc(48px * 7 + 35px);
            }

            &:nth-child(16) {
                left: calc(48px * 8 + 35px);
            }

            &:nth-child(19) {
                left: calc(48px * 10 + 35px);
            }
        }
    }
}